@font-face {
  font-family: "vazir";
  src: url("./fonts/Vazir-Black.eot");
  src: url("./fonts/Vazir-Black.woff2") format("woff2"),
    url("./fonts/Vazir-Bold.woff") format("woff"),
    url("./fonts/Vazir-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

[role="main"] {
  padding-top: 48px;
  padding-bottom: 50px;
  background: url("./images/Fine\ Decor\ Aldrich\ White\ Terrazzo\ Wallpaper\ Sample\ 2900-24954SAM\ -\ The\ Home\ Depot.jfif")
    repeat center center fixed;
}

.copyright {
  color: white;
  font-size: 13px;
}

.socialmedia {
  color: white;
}
